@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome To Company KPI</h1>
   <a class="btn btn-info btn-lg mt-5" asp-controller="KPI" asp-action="Manage">KPI Manager</a>
</div>
