
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">
<h1 class="display-3 text-danger">Access Denied</h1>
    <h4 class="font-weight-bolder text-danger">You do not have the permission to view this page</h4>
    <img class="w-50 h-50"src="~/images/access-denied-png-5.png" />
</div>