<div class="container text-center mt-5"  style="padding-bottom: 457px">
    @{
        ViewData["Title"] = "AccountLocked";
    }

    <h1 class="display-4 text-danger">Account Locked !!</h1>

    <h3 class="lead text-danger"> The account is locked for a while <a asp-controller="Account" asp-action="ForgetPassword">Click here to reset the password</a></h3>
</div>

