@model EmployeeManagement.ViewModels.AddPasswordViewModel

@{
    ViewData["Title"] = "AddPassword";
}

<h1>Add Password</h1>

<hr />

<p class="lead text-center text-danger">Add local password if you logged in with an external email provider and do not have a local password yet</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password"  ></label>
                <input asp-for="Password" class="form-control form-control-lg" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"  ></label>
                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-info btn-lg" >Confirm </button>
            </div>
        </form>
    </div>
</div>


