
    <div  class="container text-center mt-5"  style="padding-bottom: 457px">
        @{
            ViewData["Title"] = "AddPasswordConfirmation";
    }

        <h1>Add Password Confirmation</h1>
        <hr />
        <h4>The password is added successfully !!</h4>
    </div>
