<div  class="container text-center mt-5"  style="padding-bottom: 457px">
    @{
        ViewData["Title"] = "ChangePasswordConfirmation";
    }

    <h1>Change Password Confirmation</h1>
    <hr />
    <h4>The Password is successfully changed !!</h4>
</div>

