<div class="container text-center mt-5"  style="padding-bottom: 457px">
    @{
        ViewData["Title"] = "ConfirmEmail";
    }

    <h1 class="mt-5">Email Confirmation </h1>

    <h3>Email successfully confirmed !</h3>

</div>