
@{
    ViewData["Title"] = "ForgetPasswordConfirmation";
}
 
<h1>Forget Password Confirmation</h1>

<div class="container" style="padding-bottom: 280px">
    <h4>
        If you have account with us , We have sent you reset password link
    </h4>

</div>

