@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>Forget Password</h1>

<div class="container" style="padding-bottom: 175px">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="lead">Email</label>
            <input asp-for="Email" class="form-control form-control-lg" type="email" placeholder="Your account email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

