<div class="container text-center mt-5"  style="padding-bottom: 457px">
    @{
        ViewData["Title"] = "ResetPasswordConfirmation";
    }

    <h1>Reset Password Confirmation</h1>
    <hr />
    <h4>your password is reset please Click <a asp-action="Login">here</a> to login</h4>
</div>