@model EmployeeManagement.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset Password</h1>

<hr />
<div class="row" style="padding-bottom: 100px">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                <input asp-for="Email" class="form-control " hidden />
                <input asp-for="Token" class="form-control" hidden />
            
            <div class="form-group">
                <label asp-for="Password" ></label>
                <input asp-for="Password" class="form-control form-control-lg" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-outline-info btn-lg" />
            </div>
        </form>
    </div>
</div>



